* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -999;
}

.car {
  position: absolute;
  left: 0;
  bottom: 7%;
}


.motorcycle {
  position: absolute;
  left: 0;
  bottom: 7%;
  display: none;
}

.show {
  display: block;
}

.remove {
  display: none;
}

@media only screen and (max-width: 860px) {
  .bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
  }

  .car {
    width: 200px;
  }

  .motorcycle {
    width: 200px;
  }
}
